#dema-canvas {
  border: 1px solid #ccc;
}

.dema-parameters {
  background: #0005;
  padding: 1em;
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.dema-parameters textarea {
  font-size: 1.5rem;
  resize: none;
}

.dema-input {
  border: 1px solid black;
  width: 300px;
}

.dema-container {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5em;
  gap: 1em;
  margin: 5vh auto;
}

.dema-slider-container {
  width: 300px;
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.dema-button {
  font-size: 1.5rem;
  margin: 0 0.5em;
  padding: 0.2em 1em;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .dema-container {
    font-size: 1em;
    margin-top: 1em;
  }

  .dema-parameters textarea {
    font-size: 1.5em;
  }

  .dema-button {
    font-size: 1em;
  }
}